<div class="application">
    <div class="container con_app">
        <div class="application__inner">
            <div class="application_block">
                <form action="#" class="application_form">
                    <div class="form_caption">
                        <h3>A quick way to discuss details</h3>
                    </div>
                    <div class="form">
                        <p>Name*</p>
                        <label>
                            <input type="text" name="name" required="required" placeholder="Your name">
                        </label>
                    </div>
                    <div class="form">
                        <p>Phone*</p>
                        <label>
                            <input type="text" name="phone" required="required" placeholder="Your phone number">
                        </label>
                    </div>
                    <div class="form">
                        <p>Email</p>
                        <label>
                            <input type="text" name="email" required="required" placeholder="Your working email">
                        </label>
                    </div>
                    <div class="form">
                        <p>Message</p>
                        <label>
                            <input type="text" name="message" required="required" placeholder="Your message">
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agree_checkbox">
                            <span></span>
                        </label>
                        <p>I agree to receive communications from Createx<br>Construction Bureau.</p>
                    </div>

                    <div class="form_button">
                        <a href="#">SEND REQUEST</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>