<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer_first_line">
                <div class="socials">
                    <img src="../static/img/logo.svg" alt="logo" class="footer_logo">
                    <div class="social_icons">
                        <a href="#"><img src="../static/img/Whatsapp.svg" alt="whatsapp" class="footer_icon"></a>
                        <a href="#"><img src="../static/img/Messanger.svg" alt="messanger" class="footer_icon"></a>
                        <a href="#"><img src="../static/img/Facebook.svg" alt="facebook" class="footer_icon"></a>
                        <a href="#"><img src="../static/img/Twitter.svg" alt="twitter" class="footer_icon"></a>
                        <a href="#"><img src="../static/img/YouTube.svg" alt="youtube" class="footer_icon"></a>
                    </div>
                    <p> Createx Construction Bureau has been successfully operating in the USA <br> construction market
                        since 2000. We are proud to offer you quality <br> construction and exemplary service. Our mission
                        is to set the highest <br> standards for construction sphere.</p>

                    <div class="head_office">
                        <h1>Head office</h1>
                        <div class="address">
                            <h2>Address: <span style="color: #a7a3a8; ">8502 Preston Rd. Inglewood, New York</span></h2>
                            <h2>Call: <span style="color: #a7a3a8; ">(405) 555-0128</span></h2>
                            <h2>Email: <span style="color: #a7a3a8; ">hello@createx.com</span></h2>
                        </div>
                    </div>

                    .
                </div>

                <div class="subscribe">
                    <h4>Lets stay in touch</h4>
                    <div class="subscribe_button">
                        <form action="#">
                            <label>
                                <input type="email" placeholder="Your email address">
                            </label>
                        </form>
                        <a href="#" class="sub_button">
                            SUBSCRIBE
                        </a>
                    </div>
                    <p>*Subscribe to our newsletter to receive communications and early updates
                        from <br> Createx Construction Bureau.</p>
                </div>
            </div>
        </div>
    </div>
</footer>