<nav class="header__nav">
    <div class="nav__block">
        <a href="/"><img src="../static/img/navigation/logo.svg" alt="LOGO" class="header__logo"></a>
        <ul class="nav__navbar">
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </div>
    <div class="nav__contacts">
        <div class="contact__number_block">
            <img class="phone" src="../static/img/navigation/iPhone.svg" alt="number: ">
            <div class="block_text">
                <p class="phone_text">Call Us</p>
                <p>(405) 555-0128</p>
            </div>
        </div>

        <div class="contact__email_block">
            <img class="chat" src="../static/img/navigation/Chat.svg" alt="email: ">
            <div class="block_text">
                <p class="email_text">Talk to us</p>
                <p>hello@createx.com</p>
            </div>
        </div>
    </div>
</nav>